*{
    margin:0;
}
body{
    height:1000px;
}
ul{
    list-style-type: none;
  margin: 0;
   padding: 0;
  overflow: hidden;
  background-color: #ecd5d5;
     position:sticky;
     top:10px;
}
a{
    color:green;
    text-decoration:none;
}
.container{
width:100%;
box-sizing:border-box;
position: fixed;
top:0;

}
li{
    letter-spacing: 1px;
    float: left;
    text-decoration: none;
    text-transform: uppercase;
  border-right: 1px solid red;
}
li a{
     display:inline-block;
     color:white;
     text-align: center;
      padding:14px 16px;
}
li:last-child {
    border-right: none;
  }
  
 li a:hover:not(.active){
    background-color: #111 } 
.acive{
     background:#1d9826;
}
img{ 
    width:9%;
    border-radius:20px;
    margin:auto;
}
     
.SelectYears{
    display:inline-block;
     margin:20px;
     padding:15px;
     border:1px solid red;
     background:silver;
    }
h3{
     margin:1px;
     border:white;
     padding:10px;
}
#AboutAuthor{ 
    float:right;
    text-transform: none;
    letter-spacing: 1px;
    font-size:16px;
}
#boxid>li{
    clear:left;
    border-right: none;
   border-bottom:1px solid red;;
}
#boxid>a{
    padding:20px 14px;
} 